/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.custome-editor .ql-toolbar.ql-snow {
  border-radius: 8px 8px 0 0;
}

.custome-editor .ql-container.ql-snow {
  border-radius: 0 0 8px 8px;
  height: 200px;
}

.custome-editor .ql-container.ql-snow,
.custome-editor .ql-toolbar.ql-snow {
  border-color: #a3aed0;
}

.svg-fill-red path {
  fill: #cd1a1a;
}

.generic-filters {
  max-width: 75%;
}

.generic-filters .p-error {
  display: none;
}

.generic-filters .p-dropdown-label {
  padding: 7px 16px;
  color: #1b1b1b;
}

.generic-filters .mt-2 {
  margin-top: 0 !important;
}

.p-dropdown-items-wrapper {
  border-radius: 6px;
}

.generic-filters input:focus-visible {
  border-color: #cbd5e0 !important;
  box-shadow: none !important;
}

.dialog-preview {
  overflow-y: scroll;
}

.dialog-preview::-webkit-scrollbar {
  width: 5px;
  display: none;
}

.dialog-preview::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #c1c1c1;
  border-radius: 5px;
}

.dialog-preview::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c1c1c1cc;
}

.textbox-character-count {
  position: absolute;
  color: #8c8c8c !important;
  right: 8px !important;
  font-size: 11px !important;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  transform-origin: left top;
  padding-top: 2.9px;
  padding-left: 13px;
  padding-right: 5px;
  background-color: #ffffff;
  border-radius: 0.75rem;
}
.banner-image img {
  object-fit: cover;
  object-position: center;
}

.banner-image img {
  object-fit: cover;
  object-position: center;
}
.preview-image {
  width: 100%;
  height: 100%;
}

.happening-image {
  width: 100%;
  height: calc(400px * 9 / 16);
}

.filter-bar form {
  width: 100%;
}

.happening-image img {
  object-fit: cover;
  object-position: center;
}

.preview-image img {
  object-fit: cover;
  object-position: center;
}

.banner-image::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%; /* Adjust the height of the blend */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  pointer-events: none; /* Allow clicks to pass through */
}

.p-editor-container .p-editor-content .ql-editor {
  background: #f6f6f6 !important;
}

.p-editor-container .p-editor-content.ql-snow {
  border: 1px solid #b8b8b8 !important;
}

.custom-autocomplete .p-autocomplete-multiple-container {
  overflow-x: auto !important;
  white-space: nowrap !important;
  max-width: 100% !important;
}

.custom-input {
  white-space: nowrap !important;
  overflow-x: auto !important;
}

.custom-panel {
  max-width: 100% !important;
  overflow-y: auto !important;
}

.custom-panel .p-autocomplete-item {
  white-space: nowrap !important;
}

.p-editor-container .p-editor-content .ql-editor {
  background: none !important;
}
