{
	"SerilogConfig:EndPoint": "{secret}",
	"SerilogConfig:APIKey": "{secret}",

	"CustomerConfig:Keycloak:Version": "{secret}",
	"CustomerConfig:Keycloak:EndPoint": "{secret}",
	"CustomerConfig:Keycloak:Realms": "{secret}",
	"CustomerConfig:Keycloak:RealmsAuthAttribute": "{secret}",
	"CustomerConfig:Keycloak:ClientID": "{secret}",
	"CustomerConfig:Keycloak:ClientSecret": "{secret}",

	"OperationConfig:Keycloak:Version": "{secret}",
	"OperationConfig:Keycloak:EndPoint": "{secret}",
	"OperationConfig:Keycloak:Realms": "{secret}",
	"OperationConfig:Keycloak:RealmsAuthAttribute": "{secret}",
	"OperationConfig:Keycloak:ClientID": "{secret}",
	"OperationConfig:Keycloak:ClientSecret": "{secret}",

	"AirQualityConfig:SiteId:CUP": "{secret}",
	"AirQualityConfig:SiteId:T04": "{secret}",
	"AirQualityConfig:EndPoint": "{secret}",

	"CertisConfig:EndPoint": "{secret}",
	"CertisConfig:Core": "{secret}",
	"CertisConfig:DMS": "{secret}",
	"CertisConfig:CMS": "{secret}",
	"CertisConfig:APIKey": "{secret}",
	"CertisConfig:MainEndPoint": "{secret}",
	"CertisConfig:ClientID": "{secret}",
	"CertisConfig:ClientSecret": "{secret}",
	"CertisConfig:TenantHeaders": "{secret}",
	"CertisConfig:WFM": "{secret}",

	"FinedayIvivaConfig:EndPoint": "{secret}",
	"FinedayIvivaConfig:Username": "{secret}",
	"FinedayIvivaConfig:Password": "{secret}",

	"FinedayResidenceConfig:EndPoint": "{secret}",
	"FinedayResidenceConfig:Username": "{secret}",
	"FinedayResidenceConfig:Password": "{secret}",
	"FinedayResidenceConfig:EndPointBooking": "{secret},
	"FinedayResidenceConfig:Image": "{secret},
	"FinedayResidenceConfig:MinioConfig": "{secret}",
	"FinedayResidenceConfig:OperationEndpoint": "{secret}",

	"NetatmoConfig:EndPoint": "{secret}",
	"NetatmoConfig:Database:Host": "{secret}",
	"NetatmoConfig:Database:Port": 0,
	"NetatmoConfig:Database:Username": "{secret}",
	"NetatmoConfig:Database:Password": "{secret}",
	"NetatmoConfig:Database:Database": "{secret}",

	"CarparkPaymentConfig:EndPoint": "{secret}",
	"CarparkPaymentConfig:ArgentoEndPoint": "{secret}",
	"CarparkPaymentConfig:ArgentoMerchantID": "{secret}",
	"CarparkPaymentConfig:ArgentoPrivateKey": "{secret}",
	"CarparkPaymentConfig:ArgentoMerchantIDOne89Carpark": "{secret}",
	"CarparkPaymentConfig:ArgentoPrivateKeyOne89Carpark": "{secret}",
	"CarparkPaymentConfig:SubCodeONE89Carpark": "{secret}",
	"CarparkPaymentConfig:Ref2One89Carpark": "{secret}",

	//resi-ev
	"PaymentConfig:ArgentoEndPoint": "{secret}",
	"PaymentConfig:ArgentoMerchantIDOne89EV": "{secret}",
	"PaymentConfig:ArgentoPrivateKeyOne89EV": "{secret}",
	"PaymentConfig:SubCodeOne89EV": "{secret}",
	"PaymentConfig:Ref2One89EV": "{secret}",

	//resi-electric
	"PaymentConfig:ArgentoMerchantIDOne89Electric": "{secret}",
	"PaymentConfig:ArgentoPrivateKeyOne89Electric": "{secret}",
	"PaymentConfig:SubCodeOne89Electric": "{secret}",
	"PaymentConfig:Ref2One89Electric": "{secret}",

	//resi-bill
	"PaymentConfig:ArgentoMerchantIDOne89Bill": "{secret}",
	"PaymentConfig:ArgentoPrivateKeyOne89Bill": "{secret}",
	"PaymentConfig:SubCodeOne89Bill": "{secret}",
	"PaymentConfig:Ref2One89Bill": "{secret}",


	"LBSConfig:Database:Host": "{secret}",
	"LBSConfig:Database:Port": 0,
	"LBSConfig:Database:Username": "{secret}",
	"LBSConfig:Database:Password": "{secret}",
	"LBSConfig:Database:Database": "{secret}",

	"ResidentialConfig:EndPoint": "{secret}",
	"ResidentialConfig:ClientSecret": "{secret}",
	"ResidentialConfig:DefaultTenant": "{secret}",

	"MTConfig:EndPoint": "{secret}",
	"MTConfig:APIKey": "{secret}",
	"MTConfig:EndPointCarpark": "{secret}",

	"RedisConfig:Url": "{secret}",
	"RedisConfig:Port": "{secret}",
	"RedisConfig:DB": "{secret}",

	"InnoflexConfig:EndPoint": "{secret}",
	"InnoflexConfig:ClientID": "{secret}",
	"InnoflexConfig:ClientSecret": "{secret}",
	"InnoflexConfig:EndPointOnBoard": "{secret}",

	"CertisConfig:ExternalEndPoint": "{secret}",
	"CertisConfig:ExternalClient": "{secret}",
	"CertisConfig:IFM": "{secret}",

	"EVConfig:EndPoint": "{secret}",
	"EVConfig:PublicKey": "{secret}",
	"EVConfig:PrivateKey": "{secret}"
}