STORAGE_TYPE=s3


ACCESS_KEY_ID=AKIA2UC3CDGQONFWRE4F
SECRET_ACCESS_KEY=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
REGION=ap-southeast-1
ENDPOINT=s3.amazonaws.com
DRIVER_PORT=443

AWS_ACCESS_KEY_ID=AKIA2UC3CDGQONFWRE4F
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=ap-southeast-1

MINIO_ENDPOINT=obk-np-minio.tccproptech.com
MINIO_PORT=443
MINIO_USE_SSL=
MINIO_ACCESS_KEY=WWrwsIQdy5Uzw3tTMuJz
MINIO_SECRET_KEY=FRjaBxIX8twavT9HA5t2rGl2RO0BOB2k76mlIzvr

BUCKET_NAME=obk-uat-bucket-bms
MAX_FILE_SIZE=10
DESIREDSIZE=1

# CDN_URL=https://cdn.tccproptech.com/the-parq-guardtour-uat/
CDN_URL=https://obk-np-minio.tccproptech.com:443/the-parq-guardtour-uat