<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.300033733234-n5p42n32755pl2a07nbicv467f3r2c7m</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>AzureAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mtel.onebangkok.uat</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>onebangkokuat</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>glorymtel.xyz</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Change this later</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>We need Bluetooth access for...</string>
	<key>NSCameraUsageDescription</key>
	<string>Your message to user when the camera is accessed for the first time</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Our app requires access to your photo library to enhance your experience by allowing you to select photos to personalize and make the most out of our features. Your photos will not be shared without your explicit consent.</string>
	<key>UIAppFonts</key>
	<array>
		<string>OneBangkok-Bold.ttf</string>
		<string>OneBangkok-BoldItalic.ttf</string>
		<string>OneBangkok-Italic.ttf</string>
		<string>OneBangkok-Light.ttf</string>
		<string>OneBangkok-LightItalic.ttf</string>
		<string>OneBangkok-Medium.ttf</string>
		<string>OneBangkok-MediumItalic.ttf</string>
		<string>OneBangkok-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
