<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDY7Ak14s0APkL1DsOKVYXqE7LWjU_yp5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>558340199002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tcc-technology.one-bangkok.uat</string>
	<key>PROJECT_ID</key>
	<string>one-bangkok-uat</string>
	<key>STORAGE_BUCKET</key>
	<string>one-bangkok-uat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558340199002:ios:f95af208c91e34db45be63</string>
</dict>
</plist>