<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEAFK_fECYrp4pdYC_Br4kndXugKwbX2U</string>
	<key>GCM_SENDER_ID</key>
	<string>788013757680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tcc-technology.one-bangkok</string>
	<key>PROJECT_ID</key>
	<string>one-bangkok-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>one-bangkok-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788013757680:ios:ebb28258454a52757bfe35</string>
</dict>
</plist>