/* @tailwind base; */

.tw-absolute {
  position: absolute;
}

.tw-relative {
  position: relative;
}

.tw-sticky {
  position: sticky;
}

.tw-top-0 {
  top: 0px;
}

.tw-m-0 {
  margin: 0px;
}

.tw-my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.tw-mb-10 {
  margin-bottom: 2.5rem;
}

.tw-mb-16 {
  margin-bottom: 4rem;
}

.tw-mb-2 {
  margin-bottom: 0.5rem;
}

.tw-mb-2\.5 {
  margin-bottom: 0.625rem;
}

.tw-mb-4 {
  margin-bottom: 1rem;
}

.tw-mb-5 {
  margin-bottom: 1.25rem;
}

.tw-mb-6 {
  margin-bottom: 1.5rem;
}

.tw-mb-7 {
  margin-bottom: 1.75rem;
}

.tw-mb-8 {
  margin-bottom: 2rem;
}

.tw-mb-\[30px\] {
  margin-bottom: 30px;
}

.tw-mb-\[50px\] {
  margin-bottom: 50px;
}

.tw-mb-\[60px\] {
  margin-bottom: 60px;
}

.tw-mr-2 {
  margin-right: 0.5rem;
}

.tw-mt-1 {
  margin-top: 0.25rem;
}

.tw-mt-2 {
  margin-top: 0.5rem;
}

.tw-mt-6 {
  margin-top: 1.5rem;
}

.tw-mt-9 {
  margin-top: 2.25rem;
}

.tw-flex {
  display: flex;
}

.tw-grid {
  display: grid;
}

.tw-hidden {
  display: none;
}

.tw-size-5 {
  width: 1.25rem;
  height: 1.25rem;
}

.tw-h-2 {
  height: 0.5rem;
}

.tw-h-2\.5 {
  height: 0.625rem;
}

.tw-h-5 {
  height: 1.25rem;
}

.tw-h-full {
  height: 100%;
}

.tw-max-h-\[50vh\] {
  max-height: 50vh;
}

.tw-w-12 {
  width: 3rem;
}

.tw-w-2\/3 {
  width: 66.666667%;
}

.tw-w-24 {
  width: 6rem;
}

.tw-w-32 {
  width: 8rem;
}

.tw-w-5 {
  width: 1.25rem;
}

.tw-w-80 {
  width: 20rem;
}

.tw-w-\[100px\] {
  width: 100px;
}

.tw-w-\[130px\] {
  width: 130px;
}

.tw-w-\[20\%\] {
  width: 20%;
}

.tw-w-\[200px\] {
  width: 200px;
}

.tw-w-\[35\%\] {
  width: 35%;
}

.tw-w-\[60\%\] {
  width: 60%;
}

.tw-w-\[65\%\] {
  width: 65%;
}

.tw-w-\[80\%\] {
  width: 80%;
}

.tw-w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.tw-w-full {
  width: 100%;
}

.tw-min-w-0 {
  min-width: 0px;
}

.tw-min-w-\[150px\] {
  min-width: 150px;
}

.tw-max-w-\[120px\] {
  max-width: 120px;
}

.tw-max-w-\[150px\] {
  max-width: 150px;
}

.tw-max-w-\[400px\] {
  max-width: 400px;
}

.tw-max-w-\[640px\] {
  max-width: 640px;
}

.tw-max-w-fit {
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.tw-max-w-full {
  max-width: 100%;
}

.tw-flex-1 {
  flex: 1 1 0%;
}

@keyframes tw-pulse {
  50% {
    opacity: 0.5;
  }
}

.tw-animate-pulse {
  animation: tw-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.tw-cursor-pointer {
  cursor: pointer;
}

.tw-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.tw-flex-row {
  flex-direction: row;
}

.tw-flex-col {
  flex-direction: column;
}

.tw-flex-wrap {
  flex-wrap: wrap;
}

.tw-items-center {
  align-items: center;
}

.tw-justify-start {
  justify-content: flex-start;
}

.tw-justify-end {
  justify-content: flex-end;
}

.tw-justify-center {
  justify-content: center;
}

.tw-justify-between {
  justify-content: space-between;
}

.tw-justify-around {
  justify-content: space-around;
}

.tw-gap-2 {
  gap: 0.5rem;
}

.tw-gap-6 {
  gap: 1.5rem;
}

.tw-gap-8 {
  gap: 2rem;
}

.tw-gap-\[11px\] {
  gap: 11px;
}

.tw-gap-\[24px\] {
  gap: 24px;
}

.tw-gap-\[32px\] {
  gap: 32px;
}

.tw-gap-\[34px\] {
  gap: 34px;
}

.tw-gap-x-2 {
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}

.tw-gap-x-4 {
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}

.tw-space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.tw-space-x-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.25rem * var(--tw-space-x-reverse));
  margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.tw-space-x-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.tw-space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.tw-space-y-2\.5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.625rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.625rem * var(--tw-space-y-reverse));
}

.tw-space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.tw-space-y-\[24px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(24px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(24px * var(--tw-space-y-reverse));
}

.tw-space-y-\[60px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(60px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(60px * var(--tw-space-y-reverse));
}

.tw-divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}

.tw-divide-gray-200 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-divide-opacity));
}

.tw-overflow-auto {
  overflow: auto;
}

.tw-overflow-x-auto {
  overflow-x: auto;
}

.tw-overflow-y-hidden {
  overflow-y: hidden;
}

.tw-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tw-whitespace-nowrap {
  white-space: nowrap;
}

.tw-rounded {
  border-radius: 0.25rem;
}

.tw-rounded-\[10px\] {
  border-radius: 10px;
}

.tw-rounded-\[30px\] {
  border-radius: 30px;
}

.tw-rounded-\[8px\] {
  border-radius: 8px;
}

.tw-rounded-full {
  border-radius: 9999px;
}

.tw-rounded-lg {
  border-radius: 0.5rem;
}

.tw-rounded-md {
  border-radius: 0.375rem;
}

.tw-rounded-b-\[10px\] {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tw-border {
  border-width: 1px;
}

.tw-border-\[\#A3AED0\] {
  --tw-border-opacity: 1;
  border-color: rgb(163 174 208 / var(--tw-border-opacity));
}

.tw-bg-\[\#007bff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 123 255 / var(--tw-bg-opacity));
}

.tw-bg-\[\#DCE1E5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(220 225 229 / var(--tw-bg-opacity));
}

.tw-bg-\[\#EFF8E8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(239 248 232 / var(--tw-bg-opacity));
}

.tw-bg-\[\#F6F6F6\] {
  --tw-bg-opacity: 1;
  background-color: rgb(246 246 246 / var(--tw-bg-opacity));
}

.tw-bg-\[\#FAE8E8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(250 232 232 / var(--tw-bg-opacity));
}

.tw-bg-\[\#FBE9E9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(251 233 233 / var(--tw-bg-opacity));
}

.tw-bg-\[\#FCFCFC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(252 252 252 / var(--tw-bg-opacity));
}

.tw-bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.tw-bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

.tw-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.\!tw-p-0 {
  padding: 0px !important;
}

.tw-p-0 {
  padding: 0px;
}

.tw-p-10 {
  padding: 2.5rem;
}

.tw-p-6 {
  padding: 1.5rem;
}

.tw-p-8 {
  padding: 2rem;
}

.tw-p-\[15px\] {
  padding: 15px;
}

.tw-p-\[32px\] {
  padding: 32px;
}

.tw-px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.tw-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.tw-px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.tw-px-\[15px\] {
  padding-left: 15px;
  padding-right: 15px;
}

.tw-px-\[18px\] {
  padding-left: 18px;
  padding-right: 18px;
}

.tw-py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.tw-py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.tw-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.tw-py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.\!tw-pb-0 {
  padding-bottom: 0px !important;
}

.tw-pb-\[60px\] {
  padding-bottom: 60px;
}

.tw-pl-1 {
  padding-left: 0.25rem;
}

.tw-pt-11 {
  padding-top: 2.75rem;
}

.tw-pt-6 {
  padding-top: 1.5rem;
}

.tw-pt-8 {
  padding-top: 2rem;
}

.tw-pt-\[42px\] {
  padding-top: 42px;
}

.tw-pt-\[60px\] {
  padding-top: 60px;
}

.tw-align-middle {
  vertical-align: middle;
}

.tw-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.tw-text-\[16px\] {
  font-size: 16px;
}

.tw-text-\[34px\] {
  font-size: 34px;
}

.tw-text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.tw-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.tw-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.tw-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.tw-font-bold {
  font-weight: 700;
}

.tw-font-medium {
  font-weight: 500;
}

.\!tw-text-\[\#273281\] {
  --tw-text-opacity: 1 !important;
  color: rgb(39 50 129 / var(--tw-text-opacity)) !important;
}

.tw-text-\[\#1B2559\] {
  --tw-text-opacity: 1;
  color: rgb(27 37 89 / var(--tw-text-opacity));
}

.tw-text-\[\#273281\] {
  --tw-text-opacity: 1;
  color: rgb(39 50 129 / var(--tw-text-opacity));
}

.tw-text-\[\#2B3674\] {
  --tw-text-opacity: 1;
  color: rgb(43 54 116 / var(--tw-text-opacity));
}

.tw-text-\[\#59B413\] {
  --tw-text-opacity: 1;
  color: rgb(89 180 19 / var(--tw-text-opacity));
}

.tw-text-\[\#676B9B\] {
  --tw-text-opacity: 1;
  color: rgb(103 107 155 / var(--tw-text-opacity));
}

.tw-text-\[\#707EAE\] {
  --tw-text-opacity: 1;
  color: rgb(112 126 174 / var(--tw-text-opacity));
}

.tw-text-\[\#818181\] {
  --tw-text-opacity: 1;
  color: rgb(129 129 129 / var(--tw-text-opacity));
}

.tw-text-\[\#CD1A1A\] {
  --tw-text-opacity: 1;
  color: rgb(205 26 26 / var(--tw-text-opacity));
}

.tw-text-\[\#b9b9b9\] {
  --tw-text-opacity: 1;
  color: rgb(185 185 185 / var(--tw-text-opacity));
}

.tw-text-\[\#eff0f3\] {
  --tw-text-opacity: 1;
  color: rgb(239 240 243 / var(--tw-text-opacity));
}

.tw-text-red-400 {
  --tw-text-opacity: 1;
  color: rgb(248 113 113 / var(--tw-text-opacity));
}

.tw-shadow-\[rgba\(0\,0\,0\,0\.02\)_0px_4px_12px\] {
  --tw-shadow: rgba(0, 0, 0, 0.02) 0px 4px 12px;
  --tw-shadow-colored: 0px 4px 12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw-shadow-\[rgba\(0\,0\,0\,0\.1\)_0px_4px_12px\] {
  --tw-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --tw-shadow-colored: 0px 4px 12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw-ring-1 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}

.tw-ring-red-500 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(239 68 68 / var(--tw-ring-opacity));
}

.tw-duration-200 {
  transition-duration: 200ms;
}

.tw-ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.custome-editor .ql-toolbar.ql-snow {
  border-radius: 8px 8px 0 0;
}

.custome-editor .ql-container.ql-snow {
  border-radius: 0 0 8px 8px;
  height: 200px;
}

.custome-editor .ql-container.ql-snow,
.custome-editor .ql-toolbar.ql-snow {
  border-color: #a3aed0;
}

.svg-fill-red path {
  fill: #cd1a1a;
}

.generic-filters {
  max-width: 75%;
}

.generic-filters .p-error {
  display: none;
}

.generic-filters .p-dropdown-label {
  padding: 7px 16px;
  color: #1b1b1b;
}

.generic-filters .mt-2 {
  margin-top: 0 !important;
}

.p-dropdown-items-wrapper {
  border-radius: 6px;
}

.generic-filters input:focus-visible {
  border-color: #cbd5e0 !important;
  box-shadow: none !important;
}

.dialog-preview {
  overflow-y: scroll;
}

.dialog-preview::-webkit-scrollbar {
  width: 5px;
  display: none;
}

.dialog-preview::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #c1c1c1;
  border-radius: 5px;
}

.dialog-preview::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c1c1c1cc;
}

.textbox-character-count {
  position: absolute;
  color: #8c8c8c !important;
  right: 8px !important;
  font-size: 11px !important;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  transform-origin: left top;
  padding-top: 2.9px;
  padding-left: 13px;
  padding-right: 5px;
  background-color: #ffffff;
  border-radius: 0.75rem;
}

.banner-image img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.preview-image {
  width: 100%;
  height: 100%;
}

.happening-image {
  width: 100%;
  height: calc(400px * 9 / 16);
}

.filter-bar form {
  width: 100%;
}

.happening-image img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.preview-image img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.banner-image::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  /* Adjust the height of the blend */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  pointer-events: none;
  /* Allow clicks to pass through */
}

.p-editor-container .p-editor-content .ql-editor {
  background: none !important;
}

.p-editor-container .p-editor-content.ql-snow {
  border: 1px solid #b8b8b8 !important;
}

.custom-autocomplete .p-autocomplete-multiple-container {
  overflow-x: auto !important;
  white-space: nowrap !important;
  max-width: 100% !important;
}

.custom-input {
  white-space: nowrap !important;
  overflow-x: auto !important;
}

.custom-panel {
  max-width: 100% !important;
  overflow-y: auto !important;
}

.custom-panel .p-autocomplete-item {
  white-space: nowrap !important;
}

.first\:tw-pl-6:first-child {
  padding-left: 1.5rem;
}

.first\:tw-pt-0:first-child {
  padding-top: 0px;
}

.last\:tw-mb-0:last-child {
  margin-bottom: 0px;
}

.last\:tw-mr-0:last-child {
  margin-right: 0px;
}

.last\:tw-rounded-\[10px\]:last-child {
  border-radius: 10px;
}

.last\:tw-pr-6:last-child {
  padding-right: 1.5rem;
}

.first-of-type\:tw-rounded-bl-\[10px\]:first-of-type {
  border-bottom-left-radius: 10px;
}

.last-of-type\:tw-rounded-br-\[10px\]:last-of-type {
  border-bottom-right-radius: 10px;
}

.hover\:tw-bg-\[\#E7E7E7\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(231 231 231 / var(--tw-bg-opacity));
}

.hover\:tw-bg-\[\#F4F7FE\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(244 247 254 / var(--tw-bg-opacity));
}

@media (min-width: 768px) {
  .md\:tw-flex {
    display: flex;
  }

  .md\:tw-max-h-\[80vh\] {
    max-height: 80vh;
  }
}

@media (min-width: 1024px) {
  .lg\:tw-my-\[60px\] {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .lg\:tw-justify-end {
    justify-content: flex-end;
  }

  .lg\:tw-px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 1280px) {
  .xl\:tw-p-7 {
    padding: 1.75rem;
  }
}
