{
	"KongConfig:ConsumerKey": "{secret}",
	"KongConfig:ConsumerSecret": "{secret}",
	"MailConfig:Host": "{secret}",
	"MailConfig:Port": 0,
	"MailConfig:DisplayName": "{secret}",
	"MailConfig:Mail": "{secret}",
	"MailConfig:Username": "{secret}",
	"MailConfig:Password": "{secret}",
	"CMSDBConfig:Host": "{secret}",
	"CMSDBConfig:Port": 0,
	"CMSDBConfig:Username": "{secret}",
	"CMSDBConfig:Password": "{secret}",
	"CMSDBConfig:Database": "{secret}",
	"CMSAPIConfig:HomeContentPath": "{secret}",
	"CMSAPIConfig:FirebaseRemoteConfigPath": "{secret}",
	"CMSAPIConfig:AcknowleageBeforeMinutes": "{secret}",
	"AbstractionConfig:AbstractionURL": "{secret}",
	"OauthConfig:OauthURL": "{secret}",
	"FirebaseAdminConfig:Type": "{secret}",
	"FirebaseAdminConfig:ProjectId": "{secret}",
	"FirebaseAdminConfig:PrivateKeyId": "{secret}",
	"FirebaseAdminConfig:PrivateKey": "{secret}",
	"FirebaseAdminConfig:ClientEmail": "{secret}",
	"FirebaseAdminConfig:ClientId": "{secret}",
	"FirebaseAdminConfig:AuthUri": "{secret}",
	"FirebaseAdminConfig:TokenUri": "{secret}",
	"FirebaseAdminConfig:ClientX509CertUrl": "{secret}",
	"FirebaseAdminConfig:AuthProviderX509CertUrl": "{secret}",
	"FirebaseAdminConfig:UniverseDomain": "{secret}",
	"MinioConfig:Host": "{secret}",
	"MinioConfig:AccessKey": "{secret}",
	"MinioConfig:SecretKey": "{secret}"
	"ReportConfig:Email": "{secret}",
	"ReportConfig:CCEmail": "{secret}",
	"MinioConfig:PublicHost": "{secret}",
	"MinioConfig:BucketGuardtourName": "{secret}",
	"MinioConfig:BucketName": "{secret}",
	"MinioConfig:BucketNameParQ": "{secret}",
	"MinioConfig:BucketNameImage": "{secret}",
	"CMSConfig:EndPoint" : "{secret}",
    "RedisConfig:Url":"{secret}",
    "RedisConfig:Port":"{secret}",
    "RedisConfig:DB":"{secret}",
	"OauthConfig:OauthParqURL": "{secret}",
	"OauthConfig:ClientIdParq": "{secret}",
	"OauthConfig:ClientSecretParq": "{secret}",
	"OauthConfig:GrantTypeParq": "{secret}",
	"AbstractionConfig:AbstractionParqURL": "{secret}",
	"OpsAppConfig:CertisCleanerServiceCategory": "{secret}",
	"OpsAppConfig:CertisSocServiceCategory": "{secret}",
	"OpsAppConfig:TechnicianRoleId": "{secret}",
	"OpsAppConfig:CleaningRoleId": "{secret}",
	"OpsAppConfig:SupervisorRoleId": "{secret}",
	"OpsAppConfig:GuardRoleId": "{secret}",
	"OpsAppConfig:DccRoleId": "{secret}",
	"OpsAppConfig:FmcManagerRoleId": "{secret}",
	"OpsAppConfig:SocManagerRoleId": "{secret}",
	"OpsAppConfig:ObkClientSite": "{secret}",
	"OpsAppConfig:ParqClientSite": "{secret}",
	"OpsAppConfig:ParqClientSiteName": "{secret}",
	"OpsAppConfig:ObkClientSiteName": "{secret}",
	"OpsAppConfig:MozartGuid": "{secret}",
	"OpsAppConfig:CertisSupervisorRoleId": "{secret}",
	"OpsAppConfig:CertisSocRoleId": "{secret}",
	"OpsAppConfig:CertisOstechRoleId": "{secret}",
	"OpsAppConfig:CertisDccRoleId": "{secret}",
	"OpsAppConfig:CertisFmcManagerRoleId": "{secret}",
	"OpsAppConfig:CertisSocManagerRoleId": "{secret}",
}