@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'OneBangkok';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/onebangkok-regular.woff2) format('woff2');
  }

	*,
	::before,
	::after {
		box-sizing: border-box;
	}

	html,
	body {
		@apply relative overflow-x-hidden h-full font-oneBangkok;
	}
}

@layer components {
	#__next {
		@apply relative h-full;
	}
}

@layer utilities {
}

@layer variants {
}
